Tsukihime/parsed_texts/
Tsukihime/utilities/script.html
Tsukihime/nsdec
Tsukihime/nscript.dat
*/__pycache__
Lomando/visual*.html
Markiplier/visual*.html
Tsukihime/visual*.html
/NODE-UI/node_modules/
*/network.json